@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow+Semi+Condensed:ital,wght@1,100&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow+Semi+Condensed:ital,wght@1,100&family=Poiret+One&family=Tajawal:wght@300&display=swap');

body{
    font-family: 'Aboreto', cursive;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Tajawal', sans-serif;
background-color: whitesmoke;
background-image: url("images/plane7.jpeg");
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.flight-form{
    max-width: 500px;
    width: 100%;
    height: 75vh;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 5%;
}

.flight-form h2{
    text-align: center;
    font-size: xxx-large;
}

.flight-form h6{
    text-align: center;
    font-size: 15px;
}


.flight-form form{
    width: 100%;
}

.pass_details{
    width: 68%;
}

input{
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    padding: 8px 10px;
    border-width: 1px;
    margin-left: 5%;
    outline: none;
    font-size: 20px;

}

.input_data{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

label{
    width: 200px;
    font-weight: bold ;
    font-size:medium;

}
.pass_name{
    display: inline;
}

.gender{
    width: 425px; 
}

select{
    margin-right: 205px;
    margin-left: 100px;
    height:3.5vh;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 200px;
    text-align: center;
    border-radius: 3px;
}

#button{
    color: #d5dbd9;
    background-color: rgb(79, 108, 145);
    border-radius: 7px;
}

#button:hover{
    background-color: #d5dbd9;
    color: rgb(79, 108, 145);
}


