@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow+Semi+Condensed:ital,wght@1,100&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Barlow+Semi+Condensed:ital,wght@1,100&family=Poiret+One&family=Tajawal:wght@300&display=swap');

body{
    font-family: 'Aboreto', cursive;
font-family: 'Barlow Semi Condensed', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Tajawal', sans-serif;
background-color: whitesmoke;
}


.passanger_details{
    max-width: 1000px;
    height: 40vh;

    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
input{
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    padding: 8px 10px;
    border-width: 1px;
    margin-left: 5%;
    outline: none;
    font-size: 20px;

}
.input_data{
    display: inline;
    margin-bottom: 15px;
}

label{
    width: 200px;
    font-weight: bold ;
    font-size:medium;

}

.gender{
    width: 425px; 
}

select{
    margin-right: 205px;
    margin-left: 100px;
    height:3.5vh;
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100px;
    text-align: center;
    border-radius: 3px;
}

#button{
    color: #d5dbd9;
    background-color: rgb(79, 108, 145);
    border-radius: 7px;
}

#button:hover{
    background-color: #d5dbd9;
    color: rgb(79, 108, 145);
}

.passanger_detains{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}
.container1{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;

}

.container2{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

    margin-top: 15%;
}
.container3{
    position: absolute;
    display: flex;
    flex-direction: row;
    
    margin-top: 30%;
}

.container4{
    position: absolute;
    display: flex;
    flex-direction: row;

    margin-top: 50%;
}